{% extends 'main/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% if messages %}
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>

{% for message in messages %}
<p {% if message.tags == "success" %} class="alert alert-success alert-dismissible"{% endif %}>{{message}}</p>
{% endfor %}

</div>
</div>
{% endif %}



{% if user.is_authenticated %}

<div class="sidenav">
  <a href="#">Received</a>
  <a href="#">Trash</a>
  <a href="#">Working Messages</a>
  <a href="#">Spam</a>
</div>

<div class="container">
  <h2>InBox</h2>
  <hr>
  <br>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>from:</th>
        <th>topic:</th>
        <th>
received:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jan</td>
        <td>Kowalski</td>
        <td>kowalski@wp.com</td>
      </tr>
      <tr>
        <td>Jan</td>
        <td>Kowalski</td>
        <td>kowalski@wp.com</td>
      </tr>
      <tr>
        <td>Mariusz</td>
        <td>Nowak</td>
        <td>nowak@wp.com</td>
      </tr>
    </tbody>
  </table>
</div>



{% else %}
  <div class="container-login">
    <div class="row">
      <div class="card card-signin my-5">
          <div class="card-body">
            <h1 class="card-title text-center">Sign In</h1>
            <form class="form-signin" id="login-form" action="" method="post">
              {% csrf_token %}
              <div class="form-group">
                  <label for="username" class="custom-control-label" for="customCheck1">{{ form|crispy }}</label><br>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>
              <hr class="my-4">
              <a  href="{% url 'register-user' %}" class="btn btn-lg btn-google btn-block text-uppercase"><i class="fab fa-google mr-2"></i>Sign Up</a>
            </form>
          </div>
          </div>
    </div>
</div>




{% endif %}
{% endblock content %}
