{% extends 'main/index.html' %}
{% load static %}
{% block content %}



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img  src="{% static 'main/test-img.jpg' %}" alt="test" class="img-responsive">
      <div class="carousel-caption">
        <h1 class="main-news">Przejdź</h1>
      </div>
    </div>

     <div class="col-md-6">
      <img src="{% static 'main/test-img.jpg' %}" alt="test" class="img-responsive">
      <div class="carousel-caption">
        <h1  class="main-news">Przejdź</h1>
      </div>
    </div>
  </div>
</div>

<hr>



<div class="container-t1">
{% for post in posts %}
{% if post.category == "N" %}
  <div class="container2">
    <a  href="{% url 'post-detail' post.id %}"><img src="{{post.image.url}}" alt="Snow" width="350" height="250" class="img-rounded"></a>
    <div class="centered1"><a class="aboxx" href="{% url 'post-detail' post.id %}">{{post.title}}</a></div>
  </div>
  {%else%}

  {%endif%}
{% endfor %}
  </div>



<div class="category-t1"><h4 class="h4cat">Polityka</h4></div>
<div class="container-t1">
{% for post in posts %}
{% if post.category == "P" %}
  <div class="container2">
    <a  href="{% url 'post-detail' post.id %}"><img src="{{post.image.url}}" alt="Snow" width="350" height="250" class="img-rounded"></a>
    <div class="centered1"><a class="aboxx" href="{% url 'post-detail' post.id %}">{{post.title}}</a></div>
  </div>
  {%else%}
  {%endif%}
{% endfor %}
  </div>

<div class="category-t2"><h4 class="h4cat">Sport</h4></div>
<div class="container-t1">
{% for post in posts %}
{% if post.category == "S" %}
  <div class="container2">
    <a  href="{% url 'post-detail' post.id %}"><img src="{{post.image.url}}" alt="Snow" width="350" height="250" class="img-rounded"></a>
    <div class="centered1"><a class="aboxx" href="{% url 'post-detail' post.id %}">{{post.title}}</a></div>
  </div>
  {%else%}
  {%endif%}
{% endfor %}
  </div>

<div class="category-t3"><h4 class="h4cat">Biznes</h4></div>
<div class="container-t1">
{% for post in posts %}
{% if post.category == "B" %}
  <div class="container2">
    <a  href="{% url 'post-detail' post.id %}"><img src="{{post.image.url}}" alt="Snow" width="350" height="250" class="img-rounded"></a>
    <div class="centered1"><a class="aboxx" href="{% url 'post-detail' post.id %}">{{post.title}}</a></div>
  </div>
  {%else%}
  {%endif%}
{% endfor %}
</div>

<div class="category-t4"><h4 class="h4cat">Inne</h4></div>
<div class="container-t1">
{% for post in posts %}
{% if post.category == "I" %}
  <div class="container2">
    <a  href="{% url 'post-detail' post.id %}"><img src="{{post.image.url}}" alt="Snow" width="350" height="250" class="img-rounded"></a>
    <div class="centered1"><a class="aboxx" href="{% url 'post-detail' post.id %}">{{post.title}}</a></div>
  </div>
  {%else%}
  {%endif%}
{% endfor %}
</div>


{% endblock content %}
