
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>WK PL</title>
  <meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{% static 'main/js/bootstrap.js' %}"></script>
<link rel="stylesheet"  href="{% static 'main/css/bootstrap.css' %}">
<!-- <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>

  <script>
  $(document).ready(function(){
  $(".btn").click(function(){
    $(this).button('loading').delay(1000).queue(function(){
      $(this).button('somestringvalue');
      $(this).dequeue();
    });
  });
});


$('.nav-tabs a').click(function(){
  $(this).tab('show');
})

$('.nav-tabs a[href="#home"]').tab('show')

$('.nav-tabs a:first').tab('show')

$('.nav-tabs a:last').tab('show')

$('.nav-tabs li:eq(3) a').tab('show')
</script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'post-home' %}">WK</a>
    </div>
    <ul class="nav navbar-nav">


    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Wyszukiwarka Google" name="search">
      </div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
    </form>
    <ul class="nav navbar-nav navbar-left">
        <li><a href="{% url 'home-poczta' %}"><span class="glyphicon glyphicon-envelope"></span> Poczta</a></li>
        <li><a href="{% url 'test' %}"><span class="glyphicon glyphicon-film"></span> WK Pilot</a></li>
        <li><a href="{% url 'pilot' %}"><span class="glyphicon glyphicon-facetime-video"></span> Program Tv</a></li>
        <li><a href="{% url 'kontakty' %}"><span class="glyphicon glyphicon-user"></span> Kontakt</a></li>
        {% if user.is_authenticated %}
        <li><a  href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Wyloguj się</a></li>
        {% endif %}


  </div>
</nav>

{%block content%}
{%endblock content%}

<br>
<br>

    <div class="footer">
      <p>Strona zrobiona na wzor Wirtualnej Polski</p>
    </div>
</body>
</html>
