{% extends 'main/index.html' %}
{% load static %}
{% block content %}



<h1> Welcome to my website! </h1>



<br>

<br>

<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">O mnie</a></li>
    <li><a data-toggle="tab" href="#menu1">About Me</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3 class="comment-text">- Jestem programistą siedzącym głownie w Web Developmencie</h3>
      <p class="comment-text">- Strona jest zrobiona w 100% przezemnie od początku do końca</p>
      <p class="comment-text">- Strona jest zrobina na wzor <a class="acon" href="https://www.wp.pl/" target="_blank"> Wirtualnej Polski</a></p>
      <br>
      <p class="comment-text">- Link do GitHuba: <a class="acon" target="_blank" href="https://github.com/Brimstonee12/WK2">https://github.com/Brimstonee12/WK2</a></p>
      <p class="comment-text">- Email: brimstonee12@gmail.com</p>

    </div>
    <div id="menu1" class="tab-pane fade">
      <h3 class="comment-text">- I'm a developer ,coding mostly in web applications</h3>
      <p class="comment-text">- This site is made in 100% by me from start to finish</p>
      <p class="comment-text">- This is unofficial copy of <a class="acon" href="https://www.wp.pl/" target="_blank"> Wirtualna Polska</a></p>
      <br>
      <p class="comment-text">- Link to GitHub: <a class="acon" target="_blank" href="https://github.com/Brimstonee12/WK2">https://github.com/Brimstonee12/WK2</a></p>
      <p class="comment-text">- Email: brimstonee12@gmail.com</p>
    </div>
  </div>
</div>

<br>

<h4 class="comment-date">This site is in Alpha Version(v1.0) </h4>


{%endblock%}
